.card-list .card.ant-card {
  width: 456px;
  height: 280px;
  display: flex;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  margin-bottom: 36px;
  border-radius: 0;
  transition: all ease-in-out 0.2s;
}

.card-list .card.ant-card:hover {
  transform: scale(1.05);
}

.card-list .ant-card-meta {
  margin-top: 2px;
}

.card .ant-card-meta-detail {
  width: auto;
}
.card .ant-card-meta-title {
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 0 !important;
}

.card-list .ant-card-head-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.card .ant-card-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 188px;
  height: 280px;
}

.card .ant-card-cover img {
  flex: 1;
  height: 102%;
  width: auto;
}

.card .ant-card-body {
  width: 272px;
  padding-left: 20px;
  padding-right: 8px;
  padding-top: 12px;
}

.card .movie-description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 8px;
}

.card .genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.genres .genres-item {
  color: rgba(0, 0, 0, 0.65);
  margin-right: 8px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding: 4px 8px;
  background-color: #fafafa;
  border-radius: 2px;
}

.card .ant-rate {
  position: absolute;
  bottom: 12px;
}

.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 4px;
}

@media (min-width: 375px) and (max-width: 1020px) {
  .App .search-bar-container {
    min-width: 390px;
    height: 72px;
  }

  .card-list .card.ant-card {
    width: 384px;
    height: 240px;
    display: flex;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    margin-bottom: 20px;
    border-radius: 0;
    transition: all ease-in-out 0.2s;
  }

  .card .ant-card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60px;
    height: 90px;
    margin-left: 8px;
    margin-top: 4px;
  }

  .card .ant-card-cover img {
    flex: 1;
    height: 108%;
    width: auto;
  }

  .card .ant-card-body {
    width: 300px;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 8px;
  }

  .card .movie-description {
    position: absolute;
    top: 88px;
    left: 8px;
    right: 8px;
  }

  .card .ant-rate {
    position: absolute;
    right: 8px;
  }

  .card .ant-card-meta {
    margin-top: -4px;
  }

  .card .ant-card-meta-description {
    margin-top: 8px;
  }
}
